// /* common */
@font-face {
  font-family: 'PPMori';
  font-weight: normal;
  src: url('@/assets/fonts/PPMori-Regular.woff') format('woff'),
    url('@/assets/fonts/PPMori-Regular.woff2') format('woff2');
}
@font-face {
  font-family: 'PPMori';
  font-weight: bold;
  src: url('@/assets/fonts/PPMori-SemiBold.woff') format('woff'),
    url('@/assets/fonts/PPMori-SemiBold.woff2') format('woff2');
}

.blind {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  clip-path: inset(50%);
}

.is-desktop {
  display: block;
}
.is-mobile {
  display: none;
}
.is-word-desktop {
  display: inline;
}
.is-word-mobile {
  display: none;
}

html {
  font-size: 0.6944444444vw;
}
body {
  color: #131313;
  background: #fff;
  font-family: 'PPMori', 'Malgun Gothic', '맑은 고딕', dotum, '돋움', 'Apple SD Gothic Neo',
    sans-serif;
}

a {
  text-decoration: none;
  color: #131313;
}

button {
  border: none;
  background: none;
  cursor: pointer;
}
.layout-inner {
  position: relative;
  box-sizing: border-box;
  &.grid {
    &-full {
      width: 100%;
      padding: 0;
    }
    &-large {
      width: 1240px;
      padding: 0 10px;
    }
  }
}

// theme
#app {
  &.now,
  &.now-detail {
    background: #151515;
    .footer {
      border-color: rgba(255, 255, 255, 0.8);
      color: #fff;
      a {
        color: #fff;
      }
    }
  }
  &.introduce-the-movie {
    background: #d75356;
    .footer {
      border-color: rgba(43, 30, 30, 0.8);
      color: #fff;
      a {
        color: #fff;
      }
    }
  }
}

// mobile
@media (max-width: 1024px) {
  img {
    width: 100%;
  }
  .is-desktop {
    display: none;
  }
  .is-mobile {
    display: block;
  }
  .is-word-desktop {
    display: none;
  }
  .is-word-mobile {
    display: inline;
  }
}
