@mixin clamp($line) {
}
@mixin imagineSelector() {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  content: '';
}
@mixin fakeSelector() {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  content: '';
}
@mixin imgCover() {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
@mixin center {
  display: flex;
  justify-content: center;
  align-items: center;
}
@mixin posCenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@mixin imgScale() {
  transition: transform 0.6s ease-out;
  transition-delay: 0.1s;
  will-change: transform;
}
@mixin imgScaleHover() {
  transform: scale(1.2);
}
