<template>
  <footer class="footer">
    <div class="footer__inner">
      <div class="footer__colum is-left">
        <div class="footer__menu">
          <ul class="footer__menu--container">
            <li
              v-for="(item, index) in routesData"
              :key="`routes-${index}`"
              class="footer__menu--item"
            >
              <nuxt-link :to="item.to" class="footer__menu--anchor">{{ item.name }}</nuxt-link>
            </li>
          </ul>
        </div>
        <p class="copy">
          <span class="text">SINCE</span>
          <span class="num">2007</span>
        </p>
      </div>
      <div class="footer__colum is-right">
        <strong class="logo">
          <nuxt-link to="/" class="logo__anchor">
            <span class="logo__text">KOBALT</span>
            <span class="num">60</span>
          </nuxt-link>
        </strong>
        <p>EVERYTHINGS IS ALWAYS A PROCESS</p>
        <div class="terms">
          <a href="#" class="terms__item">COOKIE POLICY↗</a>
          <a href="#" class="terms__item">INSTAGRAM↗</a>
        </div>
        <button type="button" class="btn btn--top">TOP <i class="ico"></i></button>
      </div>
    </div>
  </footer>
</template>

<script>
export default {
  name: 'FooterComp',
  data() {
    return {}
  },
}
</script>
<style lang="scss" scoped>
.footer {
  background: #fff;
  .footer__inner {
    position: relative;
    display: flex;
    padding: 24px;
  }
}

// mobile
@media (max-width: 1024px) {
  .footer {
  }
}
</style>
