<template>
  <div class="header">
    <h1 class="logo">
      <nuxt-link to="/" class="logo__anchor">
        <span class="logo__text">KOBALT</span>
        <span class="num">60</span>
      </nuxt-link>
    </h1>
    <div class="gnb">
      <ul class="gnb__container">
        <li v-for="(item, index) in routesData" :key="`routes-${index}`" class="gnb__menu--item">
          <nuxt-link :to="item.to" class="gnb__menu--anchor">{{ item.name }}</nuxt-link>
        </li>
        <li></li>
      </ul>
    </div>
    <button type="button" class="header__toggle"><span class="blind">menu open</span></button>
  </div>
</template>

<script>
export default {
  name: 'HeaderComp',
  data() {
    return {}
  },
}
</script>
<style lang="scss" scoped>
.header {
  &__logo {
    &--anchor {
    }
  }
  &__toggle {
    z-index: 100;
    position: absolute;
    top: 50%;
    right: 30px;
    width: 50px;
    height: 50px;
    // background: url('@/assets/img/btn_gnb_toggle.svg') no-repeat 50% 50%;
    background-size: 22px;
    display: none;
  }
  &__inner {
    display: none;
  }
  &__title {
  }
  &__menu {
  }
  &__close {
  }
}
</style>
