<template>
  <div id="app" :class="[{ 'is-mobile': isMobile }]">
    <!-- <Header /> -->
    <Nuxt />
    <!-- <Footer /> -->
  </div>
</template>

<script>
// import Header from '@/components/Header.vue'
// import Footer from '@/components/Footer.vue'
export default {
  name: 'LayoutDefault',
  components: {
    // Header,
    // Footer,
  },
}
</script>
<style lang="scss">
@import '@/assets/scss/reset.scss';
@import 'normalize.css/normalize.css';
@import '@/assets/scss/common.scss';
@import '@/assets/scss/mixin.scss';
</style>
