<template>
  <div class="errorPage">
    <h1>{{ errorText.ko }}</h1>
  </div>
</template>

<script>
export default {
  name: 'ErrorPage',
  data() {
    return {
      errorText: {
        ko: '에러페이지',
      },
    }
  },
}
</script>
<style lang="scss" scoped>
.errorPage {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background: #030839;
  h1 {
    font-size: 5rem;
    color: #fff;
  }
}
</style>
