<template>
  <div v-show="isLoaded" class="teaser">
    <h1 class="logo">
      <span class="logo__inner"><img src="@/assets/img/logo.svg" alt="KOBALT60" /></span>
    </h1>
    <VideoPlayer :options="videoPlayOption" />

    <div class="typo">
      <!-- pc -->
      <div class="typo__container is-desktop">
        <div class="typo__item typo__item--01">
          <div class="typo__item--obj">beautiful</div>
        </div>
        <div class="typo__item typo__item--02">
          <div class="typo__item--obj">
            creati<span :class="`figure figure--0${objCounter}`"></span>n that
          </div>
        </div>
        <div class="typo__item typo__item--03">
          <div class="typo__item--obj">
            res<span :class="`figure figure--0${objCounter}`"></span>nates with
          </div>
        </div>
        <div class="typo__item typo__item--04">
          <div class="typo__item--obj">
            every<span :class="`figure figure--0${objCounter}`"></span>ne
          </div>
        </div>
      </div>

      <!-- mobile -->
      <div class="typo__container is-mobile">
        <div class="typo__item typo__item--02">
          <div class="typo__item--obj">
            beautiful <br />
            creati<span :class="`figure figure--0${objCounter}`"></span><span class="empty"></span>n
          </div>
        </div>
        <div class="typo__item typo__item--03">
          <div class="typo__item--obj">
            that <br />
            res<span :class="`figure figure--0${objCounter}`"></span
            ><span class="empty"></span>nates
          </div>
        </div>
        <div class="typo__item typo__item--04">
          <div class="typo__item--obj">
            with <br />
            every<span :class="`figure figure--0${objCounter}`"></span><span class="empty"></span>ne
          </div>
        </div>
      </div>
    </div>
    <div class="description">
      <p class="description__text">
        <span class="empty"></span>Sometimes the moments that results give are important, but you
        should not forget the moments that you achieve in the process. To the harmonious process of
        being tenacious to the goal and the puzzle of the goal, the KOBALT60 navigates with the
        customer toward the result and progresses through growth together in the process.
      </p>
    </div>
    <!-- <div class="btn-area">
      <a
        href="https://www.dropbox.com/s/hnmi6grh1cuxsl8/kobalt60_CB_2020.pdf?dl=0"
        target="_blank"
        class="btn btn--works"
      >
        WORKS<span class="arrow">↘</span><span class="line"></span>
      </a>
    </div> -->
    <div
      data-tf-sidetab="fkzi06ME"
      data-tf-width="320"
      data-tf-height="400"
      data-tf-custom-icon="https://images.typeform.com/images/EkBt6DybBrLU"
      data-tf-button-color="#001EFF"
      data-tf-button-text="CONTACT"
      data-tf-iframe-props="title=KOBALT60 INQUIRY"
      data-tf-medium="snippet"
      style="all: unset"
    ></div>
  </div>
</template>

<script>
import videoPlayer from '@/components/VideoPlayer'
export default {
  name: 'IndexPage',
  components: {
    videoPlayer,
  },
  data() {
    return {
      videoPlayOption: {
        controls: false,
        autoplay: true,
        muted: true,
        loop: true,
        playsinline: true,
        poster: '',
        type: 'video/mp4',
        src: require('@/assets/video/teaser.mp4'),
      },
      maxCounter: 1,
      objCounter: 1,
      isLoaded: false,
      isComplete: false,
      isAnimateComplete: false,
    }
  },
  watch: {
    isComplete() {
      if (this.maxCounter < 3) {
        this.objCounter = 1
        this.objChange()
      }
    },
  },
  mounted() {
    // typeForm
    const script = document.createElement('script')
    script.setAttribute('src', '//embed.typeform.com/next/embed.js')
    document.head.appendChild(script)

    if (!this.isLoaded) {
      this.isLoaded = true
      this.playAnimate()
    }
  },
  methods: {
    playAnimate() {
      const tl = this.$gsap.timeline()
      const typoObjArry = document.querySelectorAll('.typo__item .typo__item--obj')
      const description = '.description'
      const works = '.btn--works'
      const worksArrow = '.btn--works .arrow'
      const worksLine = '.btn--works .line'
      const that = this
      if (!this.isMobile) {
        typoObjArry.forEach((item, index) => {
          tl.from(
            item,
            {
              opacity: 0,
              y: '-100%',
              duration: 0.8,
              delay: index === 0 ? 0.5 : 0,
              onComplete() {
                that.isComplete = true
              },
            },
            index !== 0 ? '-=0.4' : '0'
          )
        })
        tl.from(
          description,
          {
            opacity: 0,
            y: '-40%',
            duration: 1.1,
          },
          '-=2'
        )
        tl.from(
          works,
          {
            opacity: 0,
            y: 100,
            duration: 1.1,
          },
          '-=2'
        )
        tl.from(
          worksArrow,
          {
            rotation: -120,
            duration: 1,
            delay: 0.3,
          },
          '<'
        )
        tl.from(
          worksLine,
          {
            opacity: 0,
            width: 0,
            duration: 1,
            delay: 0.3,
          },
          '<'
        )
      } else {
        typoObjArry.forEach((item, index) => {
          tl.from(
            item,
            {
              opacity: 0,
              y: '-100%',
              duration: 0.8,
              onComplete() {
                that.isComplete = true
              },
            },
            index !== 0 ? '-=0.5' : '0'
          )
        })
        tl.from(
          works,
          {
            opacity: 0,
            y: 100,
            duration: 1.1,
          },
          '-=1.1'
        )
        tl.from(
          worksArrow,
          {
            rotation: -120,
            duration: 1.2,
            delay: 0.3,
          },
          '<'
        )
        tl.from(
          worksLine,
          {
            opacity: 0,
            width: 0,
            duration: 1.2,
            delay: 0.3,
          },
          '<'
        )
      }
    },
    objChange() {
      this.objInterval = setInterval(() => {
        if (this.objCounter < 3) {
          this.objCounter++
        } else if (this.objCounter === 3) {
          this.maxCounter++
          this.isComplete = false
        }
      }, 600)
    },
  },
}
</script>
<style lang="scss">
body {
  background: #000;
}
// typeForm
.tf-v1-sidetab.ready {
  transform: translate(100%, 0);
  &.open {
    transform: translate(0, 0);
  }
}
@media (min-width: 1440px) {
  html {
    font-size: 10px;
  }
}
@media (max-width: 1024px) {
  .tf-v1-sidetab.ready {
    transform: translate(100%, -24%);
    &.open {
      transform: translate(0, -24%);
    }
  }
}
</style>
<style lang="scss" scoped>
.teaser {
  overflow: hidden;
  position: relative;
  color: #fff;
  height: 100vh;
  .video {
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    padding-top: 0;
    height: 100%;
  }
  .logo {
    overflow: hidden;
    position: absolute;
    left: 2.4rem;
    bottom: 2.4rem;
    width: 40rem;
    &__inner {
      display: block;
      img {
        width: 100%;
      }
    }
  }
  .typo {
    $root: '.typo';
    position: relative;
    padding: 2.4rem 0 0 0;
    text-align: center;
    text-transform: uppercase;
    &__item {
      position: relative;
      overflow: hidden;
      font-size: 0;
      &--obj {
        font-weight: 400;
        font-size: 14rem;
        line-height: 13rem;
        .figure {
          overflow: hidden;
          display: inline-block;
          font-size: 0;
          line-height: 1;
          width: 10.2rem;
          height: 10.2rem;
          background-position: 50% 50%;
          background-repeat: no-repeat;
          background-size: 100%;
        }
      }
      &--02 {
        .figure {
          background-image: url('@/assets/img/img_top_figure01_02.png');
          &--02 {
            background-image: url('@/assets/img/img_top_figure01_01.png');
          }
          &--03 {
            background-image: url('@/assets/img/img_top_figure01_03.png');
          }
        }
      }
      &--03 {
        .figure {
          background-image: url('@/assets/img/img_top_figure02_02.png');
          &--02 {
            background-image: url('@/assets/img/img_top_figure02_01.png');
          }
          &--03 {
            background-image: url('@/assets/img/img_top_figure02_03.png');
          }
        }
      }
      &--04 {
        .figure {
          margin-left: 0.15rem;
          background-image: url('@/assets/img/img_top_figure03_02.png');
          &--02 {
            background-image: url('@/assets/img/img_top_figure03_01.png');
          }
          &--03 {
            background-image: url('@/assets/img/img_top_figure03_03.png');
          }
        }
      }
    }
  }
  .description {
    overflow: hidden;
    position: absolute;
    top: 64%;
    left: 0;
    max-width: 69.6rem;
    padding: 0 2.4rem;
    font-weight: 400;
    font-size: 2rem;
    line-height: 2rem;
    text-transform: uppercase;
    .empty {
      display: inline-block;
      width: 11rem;
      vertical-align: middle;
    }
  }
  .btn-area {
    overflow: hidden;
    .btn--works {
      position: absolute;
      padding: 0;
      right: 2.6rem;
      bottom: 2rem;
      font-weight: 400;
      font-size: 6rem;
      line-height: 6rem;
      text-align: right;
      text-transform: uppercase;
      color: #fff;
      .arrow {
        display: inline-block;
      }
      .line {
        position: absolute;
        bottom: 0;
        left: 0;
        display: block;
        width: 100%;
        height: 2px;
        background: #fff;
      }
    }
  }
}

@media (max-width: 1024px) {
  .teaser {
    height: calc(var(--vh, 1vh) * 100);
    .logo {
      left: 0;
      bottom: 0;
      width: 100%;
      padding: 0 3.333vw 6.388vw 3.333vw;
      box-sizing: border-box;
    }
    .typo {
      $root: '.typo';
      padding: 2.222vw 2.222vw 0 2.222vw;
      text-align: left;
      &__item {
        &--obj {
          font-size: 13.888vw;
          line-height: 13.888vw;
          .figure {
            z-index: -1;
            position: absolute;
            width: 22vw;
            height: 22vw;
          }
          .empty {
            display: inline-block;
            margin-left: 13.888vw;
          }
        }
        &--02 {
          .figure {
            top: 3.05vw;
            left: 43.333vw;
          }
        }
        &--03 {
          .figure {
            top: 2.3vw;
            left: 21.777vw;
          }
        }
        &--04 {
          .figure {
            top: 3vw;
            left: 39vw;
            margin-left: 0;
          }
        }
      }
    }
    .description {
      display: none;
    }
    .btn-area {
      display: block;
      margin-top: 13.888vw;
      padding: 0 3.333vw;
      .btn--works {
        position: relative;
        right: 0;
        bottom: 0;
        font-weight: 400;
        font-size: 8.333vw;
        line-height: 8.333vw;
        .line {
          height: 1px;
        }
      }
    }
  }
}
</style>
